
/* pagination */
.paginationBttns{
	width: 80%;
	height: 40px;
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	min-width: 250px;
	margin-bottom: 0px;
}

.paginationBttns a {
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 8px;
	border-radius: 20px;
	/* border: 1px solid #E386E3; */
	color: #fff;
	cursor: pointer;
	font-weight: 700;
}

.paginationBttns a:hover{
	color: #fff;
	/* background-color:#E386E3 ; */
}

.paginationActive{
	color: #fff;
	margin-top: auto;
	background-color:#E386E3 ;
}

@media screen and (max-width: 1050px){
	.paginationBttns{
		width: 100%;
		margin-right:10px
	}
}